*.class
**/target
bin/
dist
**/logs
*~
target
target-ide
.checkstyle
.classpath
.project
.settings
.idea
.iml
xtend-gen
yang-gen-config
yang-gen-sal
classes
.DS_STORE
.metadata
ordmodels/src/main/java
tests/config.xml
tests/models