*.class
*.iml
**/target
bin/
dist
**/logs
*~
target
target-ide
.checkstyle
.classpath
.project
.settings
.idea
.iml
xtend-gen
yang-gen-config
yang-gen-sal
classes
.DS_STORE
.metadata
ordmodels/src/main/java
tests/allure-report/
tests/config.xml
tests/models
tests/test-requirements.txt
*.log
*.log.*
__pycache__
*.egg-info
.eggs
*.pyc
*.swp
nosetests.xml
api/src/main/java
api/src/main/java/org/opendaylight/yang/gen/v1/gnpy/path/rev190502/TeTpIdBuilder.java
api/src/main/java/org/opendaylight/yang/gen/v1/gnpy/path/rev190502/AccumulatedMetricTypeBuilder.java
# Sphinx documentation
.tox/
docs/_build/
honeynode-simulator/
pce/data
pce/some-output
tests/allure-report
tests/transportpce_tests/common/log/
tests/transportpce_tests/openlab/log/
tests/sample_configs/
karaf71
karaf121
karaf221
karaf_hybrid
tests/lightynode